# Utilities
numpy
pandas
# Face Recognition
scikit-learn
cmake
dlib
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase
bcrypt

segno
pillow
resemblyzer
streamlit
librosa